:root {
    --purple: rgb(96, 27, 160);
    --light-purple: rgb(116, 77, 153);
}

#quiz, #end-game, #highscore {
    display:none
}

.title, .intro {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    font-style: oblique;
}

.intro {
    padding: 30px;
    font-size: large;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button {
    background-color: var(--purple);
    color: white;
    border-radius: 10%;
    font-size: 17px;
    padding: 10px;
}

.start-over, .clear {
    background-color: var(--purple);
    color: white;
    border-radius: 10%;
    padding: 10px;
    margin: 6%;
}

#time {
    position: fixed;
    top: 0;
    right: 0;
}

.answers-text {
    background-color: var(--purple);
    color: white;
    border-radius: 10%;
    display: block;
    padding: 8px;
    font-size: 16px;
    margin: 7px;
}

.answers-text:hover {
    background-color: var(--light-purple);
    cursor: pointer;
}

#end-game, #score {
    text-align: center;
}

#submit {
    background-color: var(--purple);
    color: white;
    border-radius: 10%;
}

#highscore, #display {
    text-align: center;
}

#display {
    background-color: var(--light-purple);
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1%;
    font-size: 20px;
}
